
<div class="card">
    {% if talk.image %}
    <div class="card-image">
        <img src="{{ talk.image }}" alt="{{ talk.title }}">
    </div>
    {% else %}
    <header class="card-header">
        <div class="card-header-title">{{ talk.date | date: "%b %d, %Y" }}, at {{talk.room}}. </div>
    </header>
    {% endif %}
    <div class="card-content">
        <div class="content">
				<p><b>Author: </b> {{talk.author}}</p>
				<p><b>Title: </b> {{talk.title}}</p>
        </div>
    </div>
</div>