table tbody tr:nth-child(2n+1) {
	background-color: rgba(144, 144, 144, 0.075);
}

table tbody tr:nth-child(n):hover {
	background-color: rgba(79,125,201, 0.2);
}


.img-circle {
  clip-path: circle();
  width: 100%;
  height: auto;
}

.researcher_name {
  font-size: #{"min(3vw, 25px)"};
}

.researcher_institution {
  font-size: #{"min(2.2vw, 18px)"};
  color: rgba(120, 120, 120, 1);
}